body{
    background-image: url("https://www.printablee.com/postpic/2009/10/florida-state-map_180902.png");
}




.circle{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    background-color:peachpuff;
    left: -100;
}

.mouth{
position: absolute;
width: 200px;
height: 100px;
border-radius: 50px;
background-color: palevioletred;
left: 155px;
top: 740px;
}

.leye{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: saddlebrown;
    left: 110px;
    top: 560px;
}

.reye{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: saddlebrown;
    left: 300px;
    top: 560px;
}


img{
    display: none
}

span:hover + img{
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    border-style: solid;
    border-width: 10px;
}


h1{
font-size: 100px;
font-family: 'Times New Roman', Times, serif; 
font-weight: 400;   
}

h1:hover{
    color: orange;
    background-color: white;
}

h2{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100px;
    text-align: center;
}

h2:hover{
    color:khaki;
    background-color: white;
}


h3{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 35px;
    text-align: right;
}


h3:hover{
    color: green;
    background-color: white;
}

#scottflag {
    position: absolute;
    top: 80px;
    left: 950px;
}

#DenmarkFlag {
position:static;
top: 100px;
left: 200px;
}

#frenchflag {
    position: absolute;
    top: 600px;
    left: 590px
}


